[submodule "frontend"]
	path = frontend
	url = https://github.com/Pioter1290/Football-League-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/PawelekKlocek/FootballLeague.git
